<nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
    <div class="container-fluid">
             <!-- Logo SVG -->
            <a class="navbar-brand d-flex align-items-center" href="{{ path('home') }}">
                <img src="{{ asset('assets/images/icons/logo.svg') }}" class="custom-orange" alt="Logo" width="32" height="32">
                <span class="ms-2 orange fw-bold fs-5">Gourmeto</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-2">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Parcourir
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ path('recette_list') }}">Listes des recettes</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Catégories de recette</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Idées de recette</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('recette_new')}}">Créer une recette</a></li>
                </ul>
                </li>
                
            </ul>
          <!-- Formulaire centré dans la navbar -->
                <div class="d-flex flex-grow-1 mb-2 mb-lg-0 me-2">
                    <!--
                    <form class="d-flex w-100">
                        <input class="form-control me-2" type="search" placeholder="Je cherche une recette, un ingrédient, de l'aide..." aria-label="Search">
                        <button class="boutton-custom-orange rounded-pill d-flex align-items-center justify-content-center" type="submit">
                            <img src="{{ asset('assets/images/icons/magnifying-glass.svg') }}" alt="Rechercher" style="width: 1em; height: 1em;">
                        </button>

                    </form>
                    -->
                    <!-- Formulaire de recherche dans la navbar avec le Listener -->
                    {{ form_start(search_form, {'attr': {'class': 'd-flex w-100'}}) }}
                        {{ form_widget(search_form.search) }}
                        <button class="boutton-custom-orange rounded-pill d-flex align-items-center justify-content-center" type="submit">
                            <img src="{{ asset('assets/images/icons/magnifying-glass.svg') }}" alt="Rechercher" style="width: 1em; height: 1em;">
                        </button>
                    {{ form_end(search_form) }}

                    
                        </div>
                            <!-- Bouton de connexion à droite -->
                            <a class="boutton-custom-orange rounded-pill d-flex align-items-center justify-content-center" href="#">
                                <img src="{{ asset('assets/images/icons/user.svg') }}" alt="Utilisateur" style="width: 1.5em; height: 1.5em; margin-right: 0.5em;">
                                Connexion
                            </a>
                        </div>
        </div>
</nav>