{% extends 'base.html.twig' %}

{% block title %}
Créer une nouvelle recette
{% endblock %}
{% block body %}
<div class="container bg-white shadow-lg py-2">
    <h1 class="text-dark fw-bold fs-4">Créer une nouvelle recette</h1>
    {{ form_start(form) }}
    <div class="d-flex justify-content-between">
        {{ form_row(form.title) }}
        {{ form_row(form.duration) }}
    </div>
        {{ form_row(form.content) }}
    <div class="d-grid justify-content-end">
        {{ form_row(form.save) }} <!-- Affichage du bouton save -->
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts %}
<script>
    
    document.addEventListener('DOMContentLoaded', function() {
        let submitButton = document.querySelector('button[name="recipe[save]"]');
        if (submitButton) {
            submitButton.classList.remove('btn');
        }
    });
</script>

{% endblock %}


